name: 'single repo action test'

on: [workflow_dispatch]
  

jobs:
  Build-doc:
    name: Build tool
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nathanshift/runthedoc:v0.0
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: Doxygen Action ref  
        uses: nathanshift/doxyshift@main
        with:
          pathTo-doxyfile: ./Doxyfile
          working-directory: .
