name: 'single repo action test'

on: 
  workflow_call:
    inputs:
      Doxyfile:
        required: true
        description: Path to where the Doxyfile is. (By default it should be at .github/gendoc/Doxyfile)
      
      Parent-page:
        required: false
        description: Optional name for the parent page under which the documentation will leave. (By default the current repository name will be used)
      
      Parent-page-description:
        required: false
        description: Parent page description for what the documentation for the current repository is all about.

  

jobs:
  Build-doc:
    name: Build tool
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nathanshift/runthedoc:v0.0
      volumes:
         - ${{ github.workspace }}:/app/myGitFiles
    defaults:
      run:
        working-directory: /
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: See inside my image
        run: |
          cd ../app
          ls
          dotnet DockerIt.dll

      - name: Argument Check
        run: |
          if [ ! -f ${{ github.event.inputs.Doxyfile }} ]; then echo " ${{ github.event.inputs.Doxyfile }} does not exist. " exit 1
      - name: Produce html
        run: doxygen ${{ github.event.inputs.Doxyfile

      # - name: Run Parser for Confluence
      #   run:   
          
          

        
