name: 'single repo action test'

on: [workflow_dispatch]
  

jobs:
  Build-doc:
    name: Build tool
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nathanshift/runthedoc:v0.0
    defaults:
      run:
        working-directory: /
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: See inside my image
        
        run: |
          cd ../app
          echo "I am here"
          ls
          dotnet DockerIt.dll

        
