name: 'single repo action test'

on: 
  workflow_call:
    inputs:
      Path-to-doxyfile:
        default: ".github/runthedoc/Doxyfile"
        required: false
        type: string
        description: Path to where the Doxyfile is. (By default it should be at .github/runthedoc/Doxyfile)
      Parent-page-name:
        default: ${{ github.event.repository.name }}
        required: false
        type: string
        description: Optional name for the parent page under which the documentation will leave. (By default the current repository name will be used)
      Parent-page-description:
        required: false
        type: string
        description: Parent page description for what the documentation for the current repository is all about.

      Default-parent-page-description:
        default: <p>This page contains the code documentation for <a href="https://github.com/shift-technology/${{ github.event.repository.name }}">${{ github.event.repository.name }}</a></p>
        required: false
        type: string
        description: Parent page description for what the documentation for the current repository is all about.
      
      
      

      PROJECT_NAME:
        description: 'Name of the project. Can be the same as Parent-page-name'
        required: false
        default: ${{ github.event.repository.name }} 
        type: string

      OUTPUT_DIRECTORY:
        default: ${{ github.event.repository.name }}/docyshift
        description: 'Test scenario tags'
        required: false 
        type: string

      OPTIMIZE_OUTPUT_JAVA:
        description: 'If C# code should be documented. Yes the JAVA is not a mistake :) '
        required: false
        default: 'YES' 
        type: string
        

      AUTOLINK_SUPPORT:
        description: 'When enabled doxygen tries to link words that correspond to documented classes, or namespaces to their corresponding documentation.Such a link can be
                      prevented be prevented in individual cases by putting a % sign in front of the word or globally by setting AUTOLINK_SUPPORT to NO.
                      The default value is: NO.'
        required: false
        default: 'NO'
        type: string
        

      EXTRACT_ALL:
        description: 'If the EXTRACT_ALL tag is set to YES, all entities in documentation are assumed to be documented, even if no documentation was available. Private	
                      class members and static file members will be hidden unless the EXTRACT_PRIVATE respectively EXTRACT_STATIC tags are set to YES. 
                      Note: This will also disable the warnings about undocumented members that are normally produced when WARNINGS is set to YES.
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
       

      EXTRACT_PRIVATE:
        description: 'If the EXTRACT_PRIVATE tag is set to YES, all private members of a class will be included in the documentation.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
        

      EXTRACT_PRIV_VIRTUAL:
        description: 'If the EXTRACT_PRIV_VIRTUAL tag is set to YES, documented private virtual	methods of a class will be included in the documentation.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
        

      EXTRACT_PACKAGE:
        description: 'If the EXTRACT_PACKAGE tag is set to YES, all members with package or internal scope will be included in the documentation.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
        

      EXTRACT_STATIC:
        description: 'If the EXTRACT_STATIC tag is set to YES, all static members of a file will be	included in the documentation.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
      
      EXTRACT_LOCAL_METHODS:
        description: 'This flag is only useful for Objective-C code. If set to YES, local methods, which are defined in the implementation 
                      section but not in the interface are	included in the documentation. If set to NO, only methods in the interface are included.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
      
      EXTRACT_ANON_NSPACES:
        description: 'If this flag is set to YES, the members of anonymous namespaces will be extracted and appear in the documentation as a namespace called	
                      anonymous_namespace{file}, where file will be replaced with the base name ofthe file that contains the anonymous namespace.
                      By default anonymous namespace	are hidden.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string

      HIDE_SCOPE_NAMES:
        description: 'If the HIDE_SCOPE_NAMES tag is set to NO then  members with their full class and namespace scopes will be shown in the documentation.
                      If set to YES, the scope will be hidden.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string

      SHOW_GROUPED_MEMB_INC:
        description: 'If the SHOW_GROUPED_MEMB_INC tag is set to YES then  for each	grouped member an include statement will be added to the documentation, 
                      telling the reader which file to include in order to use the member.	
                      The default value is: YES.'
        required: false
        default: 'YES' 
        type: string
      
      INPUT:
        description:  'The INPUT tag is used to specify the files and/or directories that contain documented source files. You may enter file names like myfile.cpp or	
                       directories like /usr/src/myproject. Separate the files or directories with spaces.
                       Note: If this tag is empty the current directory is searched.
                       The default value is ./{{ github.event.repository.name }}'
        required: false
        default: ${{ github.event.repository.name }}
        type: string

      RECURSIVE:
        description: 'Used to specify whether or not subdirectories should be searched for input files as well.	
                      The default value is: YES'
        required: false
        default: 'YES' 
        type: string

      REFERENCES_LINK_SOURCE:
        description: 'If the REFERENCES_LINK_SOURCE tag is set to YES then hyperlinks from functions will be linked to the actual source
                      code but in a separate folder and entities.This is redundant since page generated are linked to Github directly.	
                      The default value is: NO.'
        required: false
        default: 'NO'
        type: string
      
      GENERATE_LATEX:
        description: 'If the GENERATE_LATEX tag is set to YES, LaTeX documetation will be generated.	
                      The default value is: NO'
        required: false
        default: 'NO' 
        type: string

      HAVE_DOT:
        description: 'If you set the HAVE_DOT tag to YES then the dot tool is assumed to be available from the path. 
                      This tool is part of Graphviz (see: http://www.graphviz.org/), a graph visualization toolkit from 
                      AT&T and Lucent Bell Labs. The other options in this section have no effect if this option is set to NO
                      The default value is: NO.'
        required: false
        default: 'NO' 
        type: string
      


env:
  REPO_NAME: ${{ github.event.repository.name }}


jobs:
  Build-doc:
    name: Build tool
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nathanshift/runthedoc:v0.0.0
      options: --user root
      volumes:
         - ${{ github.workspace }}:/app/${{ github.event.repository.name }}
    defaults:
      run:
        working-directory: /
    
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: See inside my image
        run: |
          cd ../app
          ls
          #dotnet DockerIt.dll
          cd $REPO_NAME/.github/runthedoc
          ls -a

      - name: Argument Check
        
        run: |
          cd ../app
          #dotnet DockerIt.dll HiNathan ${{ inputs.Parent-page-name }}
          ls -a 
          echo $envOUT_DIR
          #sed -i "/^#/!s/sample .*/etoileReplacedline ${envOUT_DIR//\//\\/} /g" $REPO_NAME/.github/runthedoc/samplefile
          #sed -i "/^#/!s/sample .*/etoileReplacedline $envOUT_DIR /g" $REPO_NAME/.github/runthedoc/samplefile
          cat doxyshift/.github/runthedoc/samplefile

          if [ -f $REPO_NAME/${{ inputs.Path-to-doxyfile }} ];then
            echo "alright file is there"

            if grep -Fxq "INPUT                  =" doxyshift/.github/runthedoc/Doxyfile
            then
              echo "input line exists"
            else
              echo "input line not found"
            fi

            #sed -i "/^#/!s/INPUT                  =/INPUT                  = ${REPO_NAME//\//\\/}/g" doxyshift/.github/runthedoc/Doxyfile
            #sed -i "/^#/!s/OUTPUT_DIRECTORY       =/OUTPUT_DIRECTORY       = ${envOUT_DIR//\//\\/}/g" doxyshift/.github/runthedoc/Doxyfile
            sed -i "/^#/!s/INPUT                  =/INPUT                  = ${REPO_NAME//\//\\/}/g" $REPO_NAME/${{ inputs.Path-to-Doxyfile }}
            sed -i "/^#/!s/OUTPUT_DIRECTORY       =/OUTPUT_DIRECTORY       = ${envOUT_DIR//\//\\/}/g" $REPO_NAME/${{ inputs.Path-to-Doxyfile }}
            
            cat $REPO_NAME/${{ inputs.Path-to-doxyfile }}
            #doxygen $REPO_NAME/${{ inputs.Path-to-doxyfile }} 
            doxygen $REPO_NAME/${{ inputs.Path-to-doxyfile }}

          else
            echo "File is not there. Creating new doxyfile" 
            doxygen -g Doxyfile

            #setting doxyfile configuration
            sed -i "/^#/!s/INPUT                  =.*/INPUT                  = ${REPO_NAME//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/OUTPUT_DIRECTORY       =.*/OUTPUT_DIRECTORY       = ${envOUT_DIR//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/PROJECT_NAME           =.*/PROJECT_NAME           = ${envPROJECT_NAME//\//\\/} Documentation/g" Doxyfile
            sed -i "/^#/!s/OPTIMIZE_OUTPUT_JAVA   =.*/OPTIMIZE_OUTPUT_JAVA   = ${envOPTIMIZE_OUTPUT_JAVA//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/AUTOLINK_SUPPORT       =.*/AUTOLINK_SUPPORT       = ${envAUTOLINK_SUPPORT//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_ALL            =.*/EXTRACT_ALL            = ${envEXTRACT_ALL//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_PRIVATE        =.*/EXTRACT_PRIVATE        = ${envEXTRACT_PRIVATE//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_PRIV_VIRTUAL   =.*/EXTRACT_PRIV_VIRTUAL   = ${envEXTRACT_PRIV_VIRTUAL//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_PACKAGE        =.*/EXTRACT_PACKAGE        = ${envEXTRACT_PACKAGE//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_STATIC         =.*/EXTRACT_STATIC         = ${envEXTRACT_STATIC//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_LOCAL_METHODS  =.*/EXTRACT_LOCAL_METHODS  = ${envEXTRACT_LOCAL_METHODS//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/EXTRACT_ANON_NSPACES   =.*/EXTRACT_ANON_NSPACES   = ${envEXTRACT_ANON_NSPACES//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/HIDE_SCOPE_NAMES       =.*/HIDE_SCOPE_NAMES       = ${envHIDE_SCOPE_NAMES//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/SHOW_GROUPED_MEMB_INC  =.*/SHOW_GROUPED_MEMB_INC  = ${envSHOW_GROUPED_MEMB_INC//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/RECURSIVE              =.*/RECURSIVE              = ${envRECURSIVE//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/REFERENCES_LINK_SOURCE =.*/REFERENCES_LINK_SOURCE = ${envREFERENCES_LINK_SOURCE//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/GENERATE_LATEX         =.*/GENERATE_LATEX         = ${envGENERATE_LATEX//\//\\/}/g" Doxyfile
            sed -i "/^#/!s/HAVE_DOT               =.*/HAVE_DOT               = ${envHAVE_DOT//\//\\/}/g" Doxyfile

            #cat Doxyfile
            doxygen Doxyfile
            cd $envOUT_DIR
            ls -a
          fi


          
          
        shell: bash
        env:
          envINPUT: ${{ github.event.repository.name }}
          envOUT_DIR: ${{ inputs.OUTPUT_DIRECTORY }}
          envPROJECT_NAME: ${{ inputs.PROJECT_NAME }}
          envOPTIMIZE_OUTPUT_JAVA: ${{ inputs.OPTIMIZE_OUTPUT_JAVA }}
          envAUTOLINK_SUPPORT: ${{ inputs.AUTOLINK_SUPPORT }}
          envEXTRACT_ALL: ${{ inputs.EXTRACT_ALL }}
          envEXTRACT_PRIVATE: ${{ inputs.EXTRACT_PRIVATE }}
          envEXTRACT_PRIV_VIRTUAL: ${{ inputs.EXTRACT_PRIV_VIRTUAL }}
          envEXTRACT_PACKAGE: ${{ inputs.EXTRACT_PACKAGE }}
          envEXTRACT_STATIC: ${{ inputs.EXTRACT_STATIC }}
          envEXTRACT_LOCAL_METHODS: ${{ inputs.EXTRACT_LOCAL_METHODS}}
          envEXTRACT_ANON_NSPACES: ${{ inputs.EXTRACT_ANON_NSPACES}}
          envHIDE_SCOPE_NAMES: ${{ inputs.HIDE_SCOPE_NAMES}}
          envSHOW_GROUPED_MEMB_INC: ${{ inputs.SHOW_GROUPED_MEMB_INC}}
          envRECURSIVE: ${{ inputs.RECURSIVE}}
          envREFERENCES_LINK_SOURCE: ${{ inputs.REFERENCES_LINK_SOURCE}}
          envGENERATE_LATEX: ${{ inputs.REFERENCES_LINK_SOURCE}}
          envHAVE_DOT: ${{ inputs.HAVE_DOT}}
          
      - name: Produce doc to Confluence
        run:  |
            cd ../app
            ls -a
            dotnet DockerIt.dll ${{ inputs.OUTPUT_DIRECTORY }} ${{ inputs.Parent-page-description }}

      # - name: Run Parser for Confluence
      #   run:   
          
          

        
